* > {
    box-sizing:border-box;
    
}

h1{
   text-align: center;
   margin-bottom: 50px;
}

h2{
    margin: 0;
    
}

#answer {
    color: aliceblue;
    text-align: right;
    font-size: 2.2em;
}


main {

    margin: auto;
    max-width: 25em;
    border: 2px solid black;
}

button{
    padding: 20px 0px;
    font-size: 20px;
}

.screen {
    padding: 3px;
    height: 5em;
    background-color: rgb(76, 76, 107);
    margin-bottom: 1em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1em;
}
